body {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top right, #000000b0, #6d0000);
}

img {
    position: absolute;
    right: 4%;
    top: 10%;
    width: 12vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    
}

@keyframes floatImage{
    0% {
        transform: translateY(1);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(1);
    }
}

section {
    max-height: 98vh;
    padding: 2rem 5% 2rem;
}

.home {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
}

.home-content h5 {
    font-size: 1.5rem;
    font-weight: 650;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.home-content h1 {
    color: white;
    font-size: 5.6rem;
    font-weight: 700;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-content h2 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home-content p {
    margin: 5px;
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.japanese {
    color: white;
    font-weight: 500px;
}

.glow {
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @keyframes glow {
        from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6d0000, 0 0 40px #6d0000, 0 0 50px #6d0000, 0 0 60px #6d0000, 0 0 70px #6d0000;}
        to {text-shadow: 0 0 20px #fff, 0 0 30px #9e7d7d93, 0 0 40px #9e7d7d93, 0 0 50px #9e7d7d93, 0 0 60px #9e7d7d93, 0 0 70px #9e7d7d93, 0 0 80px #9e7d7d93;}
      }

